.episodes {
  width: 100%;

  .swiper-slide {
    visibility: visible !important;
  }

  .list-episodes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .buttons {
      display: block;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 46px;
    }

    .swiper-pagination {
      width: 100% !important;
      left: 50%;
      transform: translateX(-50%);
      bottom: -40px;
      
      &-bullet {
        background-color: $color-1;
        width: 16px;
        height: 16px;
        // opacity: 0;
        transition: all .35s ease-in-out;
        // &-active,
        // &-active-main,
        // &-active-next,
        // &-active-next-next,
        // &-active-prev,
        // &-active-prev-prev  {
        //   opacity: 1;
        // }
        
      }
    }
    .swiper-button {
      &-prev,
      &-next {
        padding: 0;
        border: 1px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 15px;
        color: white;
        background-color: rgba($color: white, $alpha: .34);
        top: 0;
        margin: 0;
        position: initial;
        display: inline-flex;

        &:not(.disabled) {
          &:hover {
            color: #23C7AC;
            border-color: #23C7AC;
          }
        }
        
        &::after {
          content: "";
          display: none;
        }
      }
      &-prev {
        padding-right: 2px;
      }
      &-next {
        padding-left: 2px;
      }
    }

  }
  .swiper-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .seasons {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      width: calc(50%);
      height: 1px;
      background-color: white;
      display: block;
      position: absolute;
      right: -27px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

    }

    &-container {
    width: min-content;
    transition: all .35s ease-in-out;
    position: absolute;

    &:hover {
      background-color: darken($color: #707070, $amount: 15%);
      li {
        display: inline-flex;
        border-width: 0;
        border-radius: 0;
        &.active{
          border-width: 1px;
          border-radius: 5px;
          
          span {
            font-size: 24px;
            &:hover {
              background-color: transparent;
            }
          }
        }

        span {
          font-size: 16px;
          &:hover {
            background-color: #23C7AC;
          }
        }
      }
    }

    li {
      color: white;
      font-family: $font-2;
      min-width: 58px;
      min-height: 58px;
      justify-content: center;
      align-items: center;
      padding: 11px ;
      border: 1px solid white;
      border-radius: 5px;
      display: none;
      cursor: pointer;
      // transition: all .35s ease-in-out;
      
      &.active {
        display: inline-flex;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        transition: background .35s ease-in-out;
        border-radius: 5px;
        padding: 2px 5px;
      }
    } 
    }
  }

  .swiper-episodes {
    width: 68%;
    margin: 0;

    .ep-thumb {
      height: 223px;
      border: 0;
      display: inline-block;
      padding: 0;
      overflow: hidden;
      border-radius: 10px;
      background-color: transparent;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    .ep-title {
      font-size: 16px;
      font-weight: 500;
      color: white;
      text-align: center;
    }
  }
}