.episodes {
  width: 100%;

  .item-thumb {
    height: 223px;
  }

  .item-title {
    margin-top: 22px;
  }

  .swiper-slide {
    visibility: visible !important;
  }

  .swiper-box {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .seasons {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      width: calc(50%);
      height: 1px;
      background-color: white;
      display: block;
      position: absolute;
      right: -27px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

    }

    &-container {
    width: min-content;
    transition: all .35s ease-in-out;
    position: absolute;

    &:hover {
      background-color: darken($color: #707070, $amount: 15%);
      li {
        display: inline-flex;
        border-width: 0;
        border-radius: 0;
        &.active{
          border-width: 1px;
          border-radius: 5px;
          
          span {
            font-size: 24px;
            &:hover {
              background-color: transparent;
            }
          }
        }

        span {
          font-size: 16px;
          &:hover {
            background-color: #23C7AC;
          }
        }
      }
    }

    li {
      color: white;
      font-family: $font-2;
      min-width: 58px;
      min-height: 58px;
      justify-content: center;
      align-items: center;
      padding: 11px ;
      border: 1px solid white;
      border-radius: 5px;
      display: none;
      cursor: pointer;
      // transition: all .35s ease-in-out;
      
      &.active {
        display: inline-flex;
      }

      span {
        font-size: 24px;
        font-weight: 600;
        transition: background .35s ease-in-out;
        border-radius: 5px;
        padding: 2px 5px;
      }
    } 
    }
  }

  .swiper-episodes {
    width: 68%;
    margin: 0;
  }
}
