.scroll-top {
  position: fixed;
  bottom: 140px;
  right: -100px;
  width: 76px;
  height: 76px;
  z-index: 10;
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
  visibility: hidden;
  padding: 0 0 3px 0;
  border-radius: 100px;
  background-color: darken($color-1, 5%);
  font-size: 16px;
  transition: all 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    right: 60px;
    visibility: visible;
  }

  &:hover {
    background-color: darken($color-1, 15%);
    box-shadow: 0 0 6px rgba($color: $color-1, $alpha: 1);
  }

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px !important;
  }
}

@include media-between(xs, sm) { // Phones and Large Phones
  .scroll-top {
    width: 30px;
    height: 30px;
    font-size: 12px;
    &.active {
      right: 8px;
    }
  }
}
