.parallax {
  width: 100%;
  // height: 862px;
  background-color: rgba($color: #000000, $alpha: .6);
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 348px;
    width: 100%;
    bottom: calc(348px/ -2);
    background: linear-gradient(to bottom, transparent , $color-4 141px, $color-2 85%, transparent );
    z-index: 10;
  }

  &-img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(33px);
    position: absolute;
    z-index: 2;

    &::before {
      z-index: 3;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.14);
    }
  }

  .highlight {
    position: relative;
    z-index: 11;
    padding-top: 292px;
    color: white;
    
    .my-row {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }

    .thumb {
      max-width: 100%;
      width: 27%;
      max-height: 466px;
      overflow: hidden;
      border-radius: 15px;
      display: inline-block;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
      // aspect-ratio: 309/466;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      max-width: 100%;
      width: 59%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      .show {
        &-title {
          font-family: $font-2;
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 18px;
        }
        &-category {
          font-size: 17px;
          margin-bottom: 15px;
        }
      }

      .rate-star {
        margin-bottom: 29px;
      }

      .time-local {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 21px;
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        margin-bottom: 20px;

        li {
          display: inline-block;
          .cat {
            color: white;
            font-size: 14px;
            font-weight: 600;
            font-family: $font-2;
            border-radius: 5px;
            backdrop-filter: blur(30px);
            --webkit-backdrop-filter: blur(30px);
            background-color: rgba(255, 255, 255, 0.15);  
            padding: 9px;
            box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
            min-width: 85px;
            display: inline-block;
            text-align: center;

            // &:hover {
            //   background-color: rgba($color-1, 0.15); 
            //   color: darken($color:  $color-1, $amount: 10%);
            // }
          }
        }
      }

      .desc {
        font-size: 16px;
        font-weight: 500;
        font-family: $font-2;
      }
    }

    .action-buttons{
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 9px;
      width: 100%;
      border-top: 1px solid rgba(white, 0.15);
      padding-top: 33.5px;
      
      .btn-default {
        &:first-child {
          margin-right: 9px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 1px;
            height: 55%;
            background-color: rgba(white, 0.15);
            right: -10px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:last-child {
          margin-left: auto;
        }
      }
    }
  }
}

@include media-down(lg) {
  .parallax {
    .highlight {
      padding-top: 100px;
      .my-row {
        justify-content: space-between;
      }
      .thumb {
        width: 33%;
      }
      // .content {
      //   width: calc(73% - 24px);
      // }
    }
  }
}

@include media-down(md) {
  .parallax {
    .highlight {
      .my-row {
        justify-content: center;
      }
      .thumb {
        width: 309px;
      }
      .content {
        width: 100%;
      }

      .action-buttons {
        .btn-default {
          &:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}


@include media-down(lg) {
 .parallax {
  &-img {
    background-attachment: scroll;
  }
 }
}

.list-sections {
  margin-top: 94px;
  position: relative;

  .main-row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 138px;
  }
  // z-index: 2;
  .tit {
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: $font;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 50px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%,-50%);
    //   height: 1px;
    //   width: 100%;
    //   background-color: currentColor;
    // }
    
    // span {
    //   position: relative;
    //   z-index: 2;
    // }
    display: inline-block;
    max-width: 100%;
    word-break: break-word;

   &::before, 
   &::after {
     content: "";
     display: inline-block;
     width: 44px;
     height: 1px;
     background-color: white;
     vertical-align: middle;
   }
   &::before {
     margin-right: 15px;
   }
   &::after {
     margin-left: 15px;
   }
  }
}

@include media-down(md) {
  .list-sections {
    .main-row {
      row-gap: 50px;
    }
  }
}

.list-items {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .buttons {
    display: block;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 46px;
  }

  .swiper-pagination {
    width: 100% !important;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    
    &-bullet {
      background-color: $color-1;
      margin-right: 2px;// opacity: 0;
      transition: all .35s ease-in-out;

      &:last-child {
        margin-right: 0;
      }
      // &-active,
      // &-active-main,
      // &-active-next,
      // &-active-next-next,
      // &-active-prev,
      // &-active-prev-prev  {
      //   opacity: 1;
      // }
      
    }
  }
  .swiper-button {
    &-prev,
    &-next {
      padding: 0;
      border: 1px solid white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 15px;
      color: white;
      background-color: rgba($color: white, $alpha: .34);
      top: 0;
      margin: 0;
      position: initial;
      display: inline-flex;

      &:not(.disabled) {
        &:hover {
          color: #23C7AC;
          border-color: #23C7AC;
        }
      }
      
      &::after {
        content: "";
        display: none;
      }
    }
    &-prev {
      padding-right: 2px;
    }
    &-next {
      padding-left: 2px;
    }
  }

}

.item-thumb {
  width: 100%;
  border: 0;
  display: inline-block;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.item-title {
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-align: center;
}

.swiper-slide {
  opacity: 1;
  transition: all .35s ease-in-out;
  &.fetching {
    opacity: 0;
  }
}